* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1.2em;
}

@keyframes rotateFoumula {
  0% {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  100% {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}

@keyframes rotateNicknames {
  0% {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  100% {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}

body {
  height: 100vh;
  width: 100%;
}

.main-wrapper {
  padding: 10px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: "title"
                       "tumbler"
                       "nicknames";
  grid-template-rows: 40px 1fr 0.5fr;
}

p {
  align-self: center;
}

h1 {
  grid-area: title;
}

.formulaRotate {
  position: absolute;
  top: 121px;
  left: 21px;
  animation: rotateFoumula linear 10s infinite;
}

.tumbler-body {
  display: flex;
    align-content: space-between;
    grid-area: tumbler;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.tumbler-circle {
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(105,105,105,1) 32%, rgba(178,178,178,1) 85%, rgba(255,255,255,1) 100%);
  align-self: center;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: dotted 15px rgba(10,0,0,0.5);
  box-shadow: 0 0 20px 10px, inset 0 0 20px 10px;
}

.nicknames {
  grid-area: nicknames;
  display: flex;
  justify-content: space-evenly;
}
/*
.clockwise {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d5/Uhrzeigersinn.png");
}

.counterclockwise {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d1/Gegenuhrzeigersinn.png");
}
*/
